<html>
<head>
<script src='https://www.google.com/recaptcha/api.js'></script>
</head>
<body>
	<h1>Account Recovery</h1>
	<form method="POST">
		<span>Email:</span>	
		<input type="email" name="email" required>
		<br>
		<input type="submit" value="Send Recovery Email">
		<div class="g-recaptcha" data-sitekey="6LceDQITAAAAAHAgwfYPQGlr0bdk9xiEFJFK2-t2"></div>
	</form>
	<% if (error != 'none') { %>
		<%= error %>
	<% } %>
</body>
</html>