<html>
<head>

</head>
<body>
	<h1>Dashboard</h1>
	<p>
		Welcome to your dashboard! You are now logged in.
	</p>
	<p>
		First Name: <%= user.firstName %><br>
		Last Name: <%= user.lastName %><br>
		Email: <%= user.email %><br>
	</p>
	<a href="/profile">Go to your Profile</a>
</body>
</html>