<!DOCTYPE html>
<html>
<head>
	<style>
		body {
			margin: 0;
			background: url('whitewall.png') repeat;
			font-family: "Raleway";
		}
		@font-face {
			font-family: 'Raleway'; 
			src: url('Raleway-Regular.ttf'); 
			font-style: normal;
			font-weight: normal;
		}
		h1, h2 {
			font-family: "Raleway";
			margin: 0;
		}
		#headSection {
			background: url("bgtestoptimized.jpg") no-repeat center center; 
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
			background-size: cover;
			height: 610px;
		}
		#mainHead {
			margin: 0 auto;
			width: 900px;
		}
		#coverLeft {
			width: 600px;
			height: 610px;
			background-color: rgba(27, 24, 24, 0.88);
			float: left;
			text-align: center;
		}
		#coverLeftText {
			color: white;
			font-family: "Raleway";
			margin-top: 25px;
		}
		#canvas {
			margin-top: 15px;
		}
		#coverLeftText h1 {
			font-size: 48px;
			font-weight: 100;
		}
		#coverLeftText h2 {
			font-size: 26px;
			font-weight: 100;
			margin-top: 10px;
		}
		#summary {
			border: solid 0px black;
			width: 525px;
			margin: 0 auto;
			margin-top: 25px;
			text-align: left;
			color: rgb(186, 186, 186);
			font-size: 16px;
			line-height: 24px;
		}
		.under {
			border-bottom: solid 2px #54d654;
		}
		.smallUnderline {
			border-bottom: solid 1px #54d654;
		}
		#bottomText {
			margin-top: 57px;
			color: white;
			font-size: 18px;
			text-align: center;
		}
		#coverRight {
			width: 300px;
			height: 610px;
			background-color: rgba(3, 3, 3, 0.9);
			float: left;
			color: white;
		}
		#rightTop h4 {
			font-family: "Raleway";
			font-weight: 100;
			color: rgb(186, 186, 186);
			padding-left: 15px;
			font-size: 15px;
			border: solid 0px yellow;
			width: 175px;
			float: left;
			margin-top: 5px;
			margin-bottom: 35px;
		}
		#social {
			border: solid 0px red;
			width: 70px;
			float: left;
			margin-top: 0px;
			margin-left: 10px;
		}
		#loginButton {
			text-align: center;
			margin-top: 20px;
		}
		#regSwitch {
			width: 140px;
			height: 34px;
			background-color: #47C454;
			border: solid 0px black;
			color: white;
			font-size: 15px;
		}
		#regSwitch:hover {
			background-color: rgb(18, 134, 18);
		}
		#signUp, #LogInTitle {
			text-align: center;
			margin-top: 20px;
			margin-bottom: 15px;
		}
		#login {
			display: none;
			margin-top: 45px;
		}
		#forgotPass {
			text-align: right;
			padding-right: 15px;
			margin-top: 10px;
		}
		#forgotPass a {
			color: white;
			font-family: "Raleway";
			font-size: 14px;
		}
		#registration form, #login form {
			padding-left: 15px;
			margin-bottom: 6px;
		}
		#registration form label, #login form label {
			display: block;
			margin-top: 8px;
			margin-bottom: 3px;
			font-family: "Raleway";
			font-size: 14px;
		}
		#registration input, #login input {
			height: 34px;
			width: 269px;
			border: solid 1px #54d654;
			font-size: 14px;
		}
		#registration input:hover, #login input:hover, #registration input:focus,  #login input:focus{
			border: solid 1px blue;
		}
		#registration input[type=submit], #login input[type=submit] {
			border: solid 1px black;
			background-color: #47C454;
			color: white;
			font-size: 15px;
			font-weight: 500;
		}
		#login input[type=submit] {
			margin-top: 15px;
		}
		#registration input[type=submit]:hover, #login input[type=submit]:hover {
			background-color: rgb(18, 134, 18);
		}
		.g-recaptcha {
			margin: 0 auto;
			margin-top: 15px;
			margin-bottom: 5px;
		}
		#message {
			font-family: "Raleway";
			border: solid 0px blue;
			padding-left: 15px;
			padding-right: 10px;
			font-size: 15px;
			color: rgb(242, 74, 0);
			padding-top: 10px;
			height: 50px;
		}
		#paddingImage {
			width: 898px;
			height: 160px;
			margin: 0 auto;
			background: url('paddingimage.png');
			border: solid 1px black;
			border-top: solid 0px black;
			border-bottom: solid 0px black;
		}
		#wrapper {
			width: 868px;
			margin: 0 auto;
			border: solid 1px black;
			border-top: solid 0px black;
			border-bottom: solid 0px black;
			background-color: white;
			padding: 15px 15px 0 15px;
			min-height: 1031px;
		}
		#canvas2 {
			position: absolute;
			z-index: 10;
			margin-top: -152px;
			margin-left: 225px;
		}
		#iconSection {
			margin-bottom: 30px;
			padding-top: 35px;
			padding-bottom: 35px;
			background-color: rgb(244, 244, 244);
			width: 898px;
			margin: 0 auto;
			border: solid 1px black;
			border-bottom: solid 0px black;
			border-top: solid 0px black;
		}
		#keepTrack, #stayOrganized, #enhanceRecipes {
			border: solid 0px red;
			width: 257px;
			float: left;
			font-size: 14px;
			margin-left: 26px;
		}
		#keepTrack img, #stayOrganized img, #enhanceRecipes img {
			float: left;
			padding-right: 18px;
		}
		#keepTrack h5, #stayOrganized h5, #enhanceRecipes h5 {
			font-size: 18px;
		}
		#spreadsheet {
			margin-top: 18px;
			text-align: center;
			font-size: 23px;
		}
		#information {
			text-align: center;
			margin-top: 55px;
		}
		.examplePics {
			float: left;
		}
		#chromeWindow {
			margin-top: 35px;
			height: 432px;
			margin-bottom: 30px;
		}
		#chromeWindowText {
			float: left;
			border: solid 1px rgba(69, 69, 69, 0.23);
			margin-top: 55px;
			width: 300px;
			margin-right: 45px;
			margin-left: 23px;
			padding: 20px 10px 20px 10px;
			background-color: rgb(244, 244, 244);
		}
		#chromeWindowText h2 {
			margin-bottom: 35px;
			font-size: 22px;
		}
		#rs {
			border: solid 0px green;
			height: 470px;
		}
		#rsWindow {
			border: solid 1px black;
		}
		#rsWindowText {
			border: solid 1px rgba(69, 69, 69, 0.23);
			width: 300px;
			float: left;
			margin-top: 44px;
			margin-right: 46px;
			margin-left: 23px;
			padding: 20px 10px 20px 10px;
			background-color: rgb(244, 244, 244);
		}
		#rsWindowText h2 {
			margin-bottom: 35px;
			font-size: 22px;
		}
		#registerNow {
			padding-top: 5px;
			padding-bottom: 35px;
			background-color: rgb(244, 244, 244);
			width: 898px;
			margin: 0 auto;
			border: solid 1px black;
			border-bottom: solid 0px black;
			border-top: solid 0px black;
		}
		#registerNow h2 {
			margin-top: 18px;
			text-align: center;
		}
		#regBottom {
			border: solid 0px black;
			background-color: #47C454;
			color: white;
			font-size: 17px;
			font-family: Arial;
			font-weight: lighter;
			height: 34px;
			width: 290px;
		}
		#regBottom:hover {
			background-color: rgb(18, 134, 18);
		}
		#callToAction {
			margin-top: 22px;
			text-align: center;
		}
		#footer {
			background: url('salmon.png');
			height: 295px;
			padding: 15px 0px 55px 0px;
			color: rgb(175, 176, 174);
			margin: 0 auto;
			background-color: rgb(35, 35, 35);
			width: 898px;
			font-size: 12px;
			border-left: solid 1px black;
			border-right: solid 1px black;
		}
		#footerCover {
			height: 20px;
			background-color: rgba(3, 3, 3, 0.9);
			padding: 15px 15px 15px 15px;
			margin-top: 300px;
		}
		#footer a {
			color: rgb(175, 176, 174);
		}
		#copyright {
			float: left;
			border: solid 0px red;
			width: 350px;
		}
		#node {
			float: right;
			border: solid 0px blue;
			width: 170px;
		}
	</style>
	<meta property="og:image" content="http://recipesaver.net/bypass/homeshot.jpg">
	<link rel="homeshot.jpg" type="image/jpeg" href="/bypass/homeshot.jpg">
	<script src='https://www.google.com/recaptcha/api.js'></script>
	<script src="/scripts/jquery-1.11.2.min.js"></script>
	<script src="/scripts/jquery-ui.min.js"></script>
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
		ga('create', 'UA-59805292-1', 'auto');
		ga('send', 'pageview');
	</script>
	<title>Recipe Saver — Online Recipe Organizer</title>
	<link rel="icon" type="image/png" href="bypass/favicon.ico">
</head>
<body>
	<div id="headSection">
		<div id="mainHead">
			<div id="coverLeft">
				<div id="canvas">
					<img id="homeLogo" src="logoshine.gif">
				</div>
				<div id="canvas2">
					<img id="circleborder" src="circleborder2.png">
				</div>
				<div id="coverLeftText">
					<h1><span class="under">Recipe Saver</span></h1>
					<h2>Save any recipe.</h2>
					<div id="summary">
						<p>
							Recipe Saver is a no-frills, online journal for your favorite online recipes. No more cluttered bookmarks or having to register countless accounts just to save a few recipes that interest you.
							<br><br>
							There are tons of great recipes online, but they're all over the place. With Recipe Saver, you can save, consolidate, and organize the ones that interest you. And best of all, it’s completely <span class="smallUnderline">free</span>. Seriously.
						</p>
						<p id="bottomText">The easiest way to store recipes online!</p>
					</div>
				</div>
			</div>
			<div id="coverRight">
				<div id="rightTop">
					<h4><span class="smallUnderline">Stay connected with us.</span></h4>
					<div id="social">
						<a href="https://www.facebook.com/pages/Recipe-Saver/949678271723442" target="blank"><img src="facebookicon.png" style="margin-right: 9px;"></a>
						<a href="https://plus.google.com/b/115229929718152083341/115229929718152083341/about" target="blank"><img src="googleicon.png"></a>
					</div>
					<div id="loginButton">
						<button id="regSwitch">Log In</button>
					</div>
				</div>
				<div style="clear: both;"></div>
				<div id="registration">
					<h2 id="signUp">Save Your Recipes</h2>
					<form method="POST">
						<label>Name:</label>
						<input type="text" name="name" id="name" required><br>
						<label>Email:</label>
						<input type="email" name="email" id="emailReg" required><br>
						<label>Password:</label>
						<input type="password" name="password" id="password" required><br>
						<label>Confirm Password:</label>
						<input type="password" name="passwordConfirm" id="passwordConfirm" required><br>
						<div class="g-recaptcha" data-sitekey="6LceDQITAAAAAHAgwfYPQGlr0bdk9xiEFJFK2-t2" style="transform:scale(0.89);transform-origin:0 0"></div>
						<input type="submit" id="submit" value="Register">
					</form>
					<% if (regMessage != 'none') { %>
						<div id="message">
							<%= regMessage %>
							<br><br>
						</div>
					<% } %>
				</div>
				<div id="login">
					<h2 id="LogInTitle">Welcome Back</h2>
					<form method="POST" action="/login">
						<label>Email:</label>
						<input type="email" name="email" id="email" required>
						<label>Password:</label>
						<input type="password" name="password" required>
						<input type="submit" value="Log In">
					</form>
					<div id="forgotPass">
						<a href="/accountrecovery">Forgot Password</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="iconSection">
		<div id="keepTrack">
			<img src="checkmark.png">
			<h5>Keep Track</h5>
			Discover an enticing new recipe online? Save it to you recipe collection so it's never forgotten.
		</div>
		<div id="stayOrganized">
			<img src="tag.png">
			<h5>Stay Organized</h5>
			Categorize your saved recipes with custom tags so you can easily filter them by any term.
		</div>
		<div id="enhanceRecipes">
			<img src="clipboard.png">
			<h5>Improve Recipes</h5>
			Recipe needs more salt? Add helpful notes to your recipe entries so you can refer back to your annotations.
		</div>
		<div style="clear: both"></div>
	</div>
	<div id="paddingImage">
	</div>
	<div id="wrapper">
		<h2 id="spreadsheet"><span class="under">Forget spreadsheets or bookmarks. Make your recipes available everywhere.</span></h2>
		<div id="information">
			<div id="chromeWindow">
				<div id="chromeWindowText">
					<h2><span class="smallUnderline">Recipe Saver keeps your recipes in one spot.</span></h2>
					<img src="copy.png">
					<p>Saving a recipe to your Recipe Saver collection is as simple as copying a URL on a website of your choice.</p>
				</div>
				<img class="examplePics" src="chromewindow.png">
			</div>
			<div style="clear: both"></div>
			<div id="rs">
				<div id="rsWindowText">
					<h2><span class="smallUnderline">Manage your personal recipe collection.</span></h2>
					<img src="manage.png">
					<p>Paste the URL and include additonal information in your collection where you can edit, sort, and tag your recipes.</p>
				</div>
				<img class="examplePics" src="rswindow.png" id="rsWindow">
			</div>
		</div>
	</div>
	<div id="registerNow">
		<h2><span class="under">So what are you waiting for? It's free.</span></h2>
		<div id="callToAction">
			<button id="regBottom">Create My Recipe Collection</button>
		</div>
	</div>
	<div id="footer">
		<div id="footerCover">
			<div id="copyright">
				&copy; 2015 Copyright RecipeSaver.net &nbsp;|&nbsp; All Rights Reserved
			</div>
			<div id="node">
				Lovingly built with <a href="http://nodejs.org/" target="blank">NodeJS<img src="nodeicon.png" style="width: 16px; height: 19px; vertical-align: middle; margin-left: 5px"></a>
			</div>
		</div>
	</div>
	<script>
		$(document).ready(function() {
			$(document).on('click', '#submit', function(e) {
				var password = $('#password').val();
				var passwordConfirm = $('#passwordConfirm').val();
				var email = $("#emailReg").val();
				var name = $("#name").val();
				if (password !== passwordConfirm) {
					e.preventDefault();
					alert("Password and password confirmation must match.");
				} else if (password.length < 6 || password.length > 20) {
					e.preventDefault();
					alert("Password must be longer between 6 and 20 characters.");
				} else if (email.length > 29) {
					e.preventDefault();
					alert("Email address must be less than 30 characters.");
				} else if (name > 19) {
					e.preventDefault();
					alert("Name must be less than 20 characters.");
				}
			});

			$(document).on('click', '#regSwitch', function() {
				if ($(this).text() == "Log In") {
					$(this).text("Register Here");
					$('#registration').hide("slide", 100);
					setTimeout(function() {
						$('#login').show("slide", 200);
						$('#email').focus();
					}, 100);
				} else {
					$(this).text("Log In");
					$('#login').hide("slide", 100);
					setTimeout(function() {
						$('#registration').show("slide", 200);
					}, 100);
				}
			});

			$(document).on('click', '#regBottom', function() {
				$('html, body').animate({
	        		scrollTop: 0
	    		}, 400);
	    		$('#name').focus();
	   			return false;
			});
		});
	</script>
</body>
</html>