<html>
<head>

</head>
<body>
	<h1>Log Into Your Account</h1>
	<form method="POST">

		<span>Email:</span>	
		<input type="email" name="email" required>
		<span>Password:</span>
		<input type="password" name="password" required>
		<br>
		<input type="submit" value="Log In">
	</form>
</body>
</html>