<html>
<head>

</head>
<body>
	<h1>Log Into Your Account</h1>
	<% if (reset != 'none') { %>
		<%= reset %>
	<% } %>
	<br>
	<br>
	<form method="POST" action="/login">

		<span>Email:</span>	
		<input type="email" name="email" required>
		<span>Password:</span>
		<input type="password" name="password" required>
		<br>
		<input type="submit" value="Log In">
	</form>
	<a href="accountrecovery">Forgot Password</a>
	<br>
	<br>
	<% if (error != 'none') { %>
		<%= error %>
	<% } %>
</body>
</html>