<!DOCTYPE html>
<html>
<head>
</head>
<body>
	<h1>Something went horribly wrong!</h1>
	Your password reset token is invalid or has expired.
	<br>
	Click <a href="/accountrecovery">here</a> to try recovering your account.
</body>
</html>