<html>
<head>

</head>
<body>
	<h1>Reset Your Password</h1>
	<form method="POST">
		<span>Email:</span>	
		<input type="email" name="email" required>
		<span>New Password:</span>
		<input type="password" name="password" required>
		<br>
		<input type="submit" value="Reset">
	</form>
</body>
</html>