<html>
<head>
	<meta charset="UTF-8">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
	<style>
		body {
			font-family: 'Raleway', sans-serif;
			font-size: 0.9em;
			font-weight: 400;
			padding: 0 0 0 0;
			margin-top: 0;
		}
		a {
			color: black;
		}
		#wrapper {
			border: solid 1px black;
			width: 800px;
			margin: 0 auto;
			padding: 0 20px 0 20px;
		}
		.editImage {
			margin-right: 3px;
		}
		.rName {
			width: 600px;
			border: solid 0px green;
			position: relative;
			float: left;
			margin-left: 0px;
			color: black;
		}
		.menu {
			border: solid 0px red;
			width: 100px;
			z-index: 15;
			float: right;
			position: absolute;
			margin-top: 2px;
			background-color: gray;
			display: none;
			font-size: 0.8em;
			line-height: 1.6em;
			text-align: right;
			padding-right: 4px;
			margin-left: -107px;
		}
		.URL {
			width: 600px;
			border: solid 0px red;
			line-height: 1.6em;
			font-size: 0.8em;
			clear: both;
			margin-left: 20px;
			margin-bottom: 3px;
		}
		.URL a {
			color: #07a;
		}
		.noteIndicator {
			margin-bottom: 5px;
		}
		.noteIndicator a {
			color: #2AAD0E;
			font-size: .9em;
		}
		.notes {
			border: solid 1px yellow;
			width: 538px;
			margin-bottom: 11px;
		}
		.noNotes {
			border: solid 0px red;
			width: 700px;
		}
		#sortMenu {
			margin-left: 124px;
		}
		#newnote {
			width: 600px;
			height: 120px;
			border: 3px solid #cccccc;
			padding: 5px;
			font-family: Tahoma, sans-serif;
		}
		.tags {
			width: 600px;
			border: solid 0px green;
			line-height: 1.6em;
			font-size: 0.8em;
			clear: both;
			margin-left: 20px;
		}
		.aTag {
			border: solid 1px #B1B2B0;
			padding: 3px;
			background-color: #BBBBBB;
		}
		.aTag a {
			color: white;
		}
		.existingNote {
			margin-left: 20px;
			width: 600px;
		}
		.alternative {
			margin-left: 20px;
			width: 600px;		
		}
		#notifyParent {
			border: solid 1px gray;
			height: 25px;
		}
		.recipeEntry {
			margin: 0 auto 15px auto;
			border: solid 1px #EEE;
			background-color: #FCFCFC;
			padding: 3px 0 5px 10px;
			width: 600px;
			overflow: hidden
		}
		#recipeList {
			position: relative;
		}
		.x {
			margin-left: 3px;
		}
		.aTagEdit {
			border: solid 1px #B1B2B0;
			padding: 3px;
			background-color: #eaeaea;
		}
		/*
		.mainRecipes {
			margin: 0 auto;
			border: solid 1px red;
		}
		*/
	</style>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<div id="wrapper">
		<img src="logo.png">
		<h1>Profile</h1>
		<h2>Create a Recipe</h2>
		<form id="recipeEntry">
			<input type="text" name="recipe" placeholder="Recipe Name" required><br>
			<input type="text" name="url" placeholder="URL"><br>
			<textarea name="notes" placeholder="Notes"></textarea><br>
			<input type="text" name="tags" placeholder="Tags (Comma Separated)"><br>
			<input id="submitRecipe" type="submit">
		</form>
		<br>
		<div id="notifyParent">
			<div id="notify">
				All Recipes
			</div>
		</div>
		<br>
		<div id="sortMenu">
			<a href="#" id="sortAZ">Sort A - Z</a>
			<a href="#" id="sortZA">Sort Z - A</a>
			<br>
			<br>
		</div>
		<div class="mainRecipes">
			<div class="result">
				Loading...
			</div>
		</div>
	</div><!--end wrapper-->
	<script>
	$(document).ready(function() {

		$.get( "/recipelist", function(data) {
			$('.result').html(data);
			$.get( "/script.js", function(data) {
				
			});
		});
	});
	</script>

</body>
</html>
