<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<script src="jquery-1.11.2.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
	<style>
		body {
			background: url('whitewall.png') repeat;
			font-family: 'Raleway', sans-serif;
			font-size: 0.9em;
			font-weight: 400;
			padding: 0 0 0 0;
			margin-top: 0;
		}
		a {
			color: black;
		}
		#wrapper {
			border: solid 1px black;
			width: 906px;
			margin: 0 auto;
			padding: 0 20px 0 20px;
			min-height: 1057px;
			background-color: white;
		}
		#recipeEntry {
			border: solid 0px red;
			width: 200px;
		}
		.editImage {
			margin-right: 3px;
		}
		.rName {
			width: 600px;
			border: solid 0px green;
			position: relative;
			float: left;
			margin-left: 0px;
			color: black;
		}
		.menu {
			border: solid 1px rgb(187, 187, 187);
			width: 95px;
			z-index: 15;
			float: right;
			position: absolute;
			margin-top: 2px;
			background-color: white;
			display: none;
			font-size: 0.8em;
			line-height: 1.6em;
			text-align: right;
			padding-right: 4px;
			margin-left: -104px;
			font-family: "Arial";
		}
		.URL {
			width: 600px;
			border: solid 0px red;
			line-height: 1.6em;
			font-size: 0.8em;
			clear: both;
			margin-left: 20px;
			margin-bottom: 3px;
			white-space: nowrap;
		}
		.URL a {
			color: #C8D4DA;
		}
		.noteIndicator {
			margin-bottom: 5px;
		}
		.noteIndicator a {
			color: #28AD30;
			font-size: .9em;
		}
		.notes {
			border: solid 1px #93C3D8;
			width: 531px;
			margin-bottom: 11px;
			background-color: #F7F8FF;
			font-size: 0.9em;
			padding: 7px 7px 7px 10px;
		}
		.noNotes {
			border: solid 0px red;
			width: 700px;
		}
		#newname {
			border: solid 1px black;
			width: 551px;
			background-color: white;
		}
		#newurl {
			border: solid 1px black;
			width: 551px;
			background-color: white;
		}
		#newnote {
			width: 546px;
			height: 120px;
			border: 3px solid #cccccc;
			padding: 5px;
			font-size: 0.9em;
		}
		#newNoteSubmit, #cancel {
			margin-top: 1px;
			margin-bottom: 3px;
		}
		.tags {
			border: solid 0px green;
			line-height: 1.6em;
			font-size: 0.8em;
			clear: both;
			margin-left: 20px;
		}
		.aTag {
			border: solid 1px #B1B2B0;
			padding: 3px;
			background-color: #BBBBBB;
			margin-right: 1px;
			display: inline-block;
			height: 13px;
			line-height: 13px;
			margin-top: 3px;
		}
		.aTag a {
			color: white;
		}
		.existingNote {
			margin-left: 20px;
			width: 600px;
		}
		.alternative {
			margin-left: 20px;
			width: 600px;		
		}
		.recipeEntry {
			margin: 0 auto 15px auto;
			border: solid 1px #EEE;
			background-color: #FCFCFC;
			padding: 3px 0 5px 10px;
			width: 600px;
			overflow: hidden
		}
		#recipeList {
			position: relative;
		}
		.x {
			margin-left: 3px;
		}
		.aTagEdit {
			border: solid 1px #B1B2B0;
			padding: 3px;
			background-color: #eaeaea;
			display: inline-block;
			height: 13px;
			line-height: 13px;
		}
		.plus {
			margin-right: 4px;
		}
		#newtag {
			width: 75px;
		}
		#sideEntry {
			border: solid 0px blue;
			float: left;
			margin-top: -60px;
		}
		.mainRecipes {
			margin-left: 225px;
			border: solid 0px red;
		}
		#topBar {
			border: solid 1px rgb(238, 238, 238);
			height: 27px;
			width: 612px;
			margin-left: 258px;
			margin-bottom: 30px;
		}
		#sortMenu {
			border: solid 0px blue;
			width: 300px;
			float: left;
			height: 25px;
			line-height: 25px;
			padding-left: 10px;
		}
		#sortMenu a:hover {
			color: rgb(40, 173, 48);
		}
		#sortMenu ul {
			margin: 0;
			padding: 0;
		}
		#sortMenu li {
			display: inline-block;
			margin-right: 12px;
		}
		#notifyParent {
			border: solid 0px gray;
			padding-right: 10px;
			height: 25px;
			line-height: 25px;
			width: 200px;
			float: right;
			text-align: right;
			color: rgb(64, 198, 73);;
		}
		header {
			border: solid 0px yellow;
			height: 134px;
		}
		#logo {
			border: solid 0px blue;
			float: left;
			margin: 14px 0 0 49px;
		}
		header h2 {
			border: solid 0px red;
			width: 612px;
			float: left;
			margin-left: 101px;
			margin-top: 32px;
		}
		#sideEntryTop {
			border: solid 0px red;
			height: 29px;
			margin-top: 15px;
		}
		#sideEntryTop img {
			float: left;
			height: 27px;
			border: solid 0px blue;
		}
		#sideEntry h2 {
			border: solid 0px yellow;
			float: left;
			display: table-cell;
			margin-top: 0;
			margin-left: 10px;
		}
		header ul {
			float: right;
			margin: 0;
			padding: 0;
			border: solid 0px yellow;
			margin-right: 35px;
			margin-top: 10px;
		}
		header li {
			border: solid 0px red;
			display: inline-block;
			margin-left: 10px;
		}
		header li a:hover {
			color: rgb(40, 173, 48);
		}
		header li .adminPics {
			margin-right: 5px;
		}
		.greenUnderline {
			border-bottom: solid 2px rgb(71, 196, 84);
		}
		#noRecipes {
			width: 615px;
			height: 505px;
			margin-left: 32px;
			border: solid 0px gray;
			font-size: 15px;
			line-height: 25px;
		}
		#leftarrow {
			float: left;
			width: 55px;
			border: solid 0px blue;
		}
		#instructions {
			border: solid 0px yellow;
			margin-left: 10px;
			float: left;
			width: 420px;
			height: 420px;
		}
		#downarrow {
			margin-top: 5px;
			clear: both;
			margin-left: 183px;
		}
		/*
		#googleAd {
			margin-left: 19px;
		}
		*/
	</style>
	<link rel="stylesheet" type="text/css" href="style.css">
	<title><%= user.name %>'s Recipe Collection</title>
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
		ga('create', 'UA-59805292-1', 'auto');
		ga('send', 'pageview');
	</script>
	<script>
	    (function(h,o,t,j,a,r){
	        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
	        h._hjSettings={hjid:426635,hjsv:5};
	        a=o.getElementsByTagName('head')[0];
	        r=o.createElement('script');r.async=1;
	        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
	        a.appendChild(r);
	    })(window,document,'//static.hotjar.com/c/hotjar-','.js?sv=');
	</script>
	<link rel="icon" type="image/png" href="bypass/favicon.ico">
</head>
<body>
	<div id="wrapper">
		<header>
			<ul>
				<li><a href="https://chrome.google.com/webstore/detail/recipe-saver/opemcijjekbnjccecheklfbflnkoacai" target="blank"><img class="adminPics" src="chromeextensionicon.png">Extension</a></li>
				<li><a href="/logout"><img class="adminPics" src="logout.png">Logout</a></li>
			</ul>
			<a href="/"><img id="logo" src="logo3.png"></a>
			<h2><span class="greenUnderline"><%= user.name %>'s Recipe Collection</span></h2>
		</header>
		<div id="topBar">
			<div id="sortMenu">
				<ul>
					<li><a href="#" id="allRecipes">All Recipes</a></li>
					<li><a href="#" id="sortAZ">Sort A - Z</a></li>
					<li><a href="#" id="sortZA">Sort Z - A</a></li>
				</ul>
			</div>
			<div id="notifyParent">
				<div id="notify">
					All Recipes
				</div>
			</div>
		</div>
		<div style="clear"></div><!--clearing div -->
		<div id="sideEntry">
			<div id="sideEntryTop">
				<img src="log.png">
				<h2><span class="greenUnderline">Log a Recipe</span></h2>
			</div>
			<form id="recipeEntry">
				<input type="text" name="recipe" placeholder="Recipe Name" id="recipeNameForm"><br>
				<input type="text" name="url" id="urlForm" placeholder="URL"><br>
				<textarea name="notes" id="notesForm" placeholder="Notes"></textarea><br>
				<input type="text" name="tags" id="tagsForm" placeholder="Tags (comma separated)"><br>
				<input id="submitRecipe" type="submit" value="Submit">
			</form>
			<br>
			<!-- <div id="googleAd">
				<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
				<ins class="adsbygoogle"
				     style="display:inline-block;width:160px;height:600px"
				     data-ad-client="ca-pub-6441918072987930"
				     data-ad-slot="5191222410"></ins>
				<script>
					(adsbygoogle = window.adsbygoogle || []).push({});
				</script> 
			</div>-->
		</div>
		<div class="mainRecipes">
			<div class="result">
				Loading...
			</div>
		</div>
	</div><!--end wrapper-->
	<script>
	$(document).ready(function() {
		$.get( "/recipelist", function(data) {
			$('.result').html(data);
			$.get( "/script.js", function(data) {
				
			});
		});
	});
	</script>
	<!-- Temporary HotJar Survey -->
	<script>
		if (!$('#announcement').length && !localStorage.hjSeen) {
			$('#wrapper').prepend('<div id="announcement" style="padding-bottom: 4px; margin: 0 auto; width: 673px; margin-bottom: 14px; margin-top: 7px; overflow: auto; border-bottom: solid 1px #47c454;"><div style="display: inline-block; float: left;">Recipe Saver 2.0 is coming! We\'d love to get your feedback on this quick 3 question <a target="_blank" href="https://insights.hotjar.com/s?siteId=426635&surveyId=19402">survey</a>.</div><div id="hj-close" style="font-weight: bold; display: inline-block; float: right; cursor: pointer;">Close</div></div>');

			$('#announcement a, #hj-close').click(function() {
				$('#announcement').hide();
				localStorage.hjSeen = true;
			});
		}
	</script>


</body>
</html>
