<html>
<head>
	<meta charset="UTF-8">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
	<style>

		body {
			font-family: 'Raleway', sans-serif;
			font-size: 0.9em;
			font-weight: 400;
		}
		a {
			color: black;
		}
		.editImage {
			margin-right: 3px;
		}
		.rName {
			width: 600px;
			border: solid 0px green;
			position: relative;
			float: left;
			margin-left: 124px;
			color: #d18700;
		}
		.menu {
			border: solid 0px red;
			width: 118px;
			z-index: 10;
			float: right;
			position: absolute;
			margin-top: 2px;
			background-color: gray;
			display: none;
			font-size: 0.8em;
			line-height: 1.6em;
			text-align: right;
			padding-right: 4px;
		}
		.URL {
			width: 600px;
			border: solid 0px red;
			line-height: 1.6em;
			font-size: 0.8em;
			clear: both;
			margin-left: 142px;
		}
		.noteIdicator {
			margin-left: 142px;
		}
		.notes {
			border: solid 1px yellow;
			margin-left: 142px;
			width: 700px;
		}
		.noNotes {
			border: solid 1px red;
			margin-left: 142px;
			width: 700px;
		}
		#sortMenu {
			margin-left: 124px;
		}
		#newnote {
			width: 600px;
			height: 120px;
			border: 3px solid #cccccc;
			padding: 5px;
			font-family: Tahoma, sans-serif;
		}
	</style>
</head>
<body>
	<h1>Profile</h1>
	<h2>Create a Recipe</h2>
	<form method="POST">

		<span>Recipe Name:</span>	
		<input type="text" name="recipe" required><br>
		<span>Url:</span>
		<input type="text" name="url"><br>
		<span>Notes:</span>
		<textarea name="notes"></textarea><br>
		<input type="submit">
	</form>
	<br>
	<div id="sortMenu">
		<a href="/profile/sortAZ">Sort by name A - Z</a>
		<a href="/profile/sortZA">Sort by name Z - A</a>
		<br>
		<br>
	</div>

	<div id="recipeList">
		<% user.recipes.reverse() %>
		<% for(var i=0; i<user.recipes.length; i++) { %>
			<input type="hidden" value="<%=user.recipes[i]._id%>">
			<div class="menu">
				<a href="#" class="editName">Edit Recipe Name</a><br>
				<a href="#" class="editUrl">Edit Url</a><br>
				<a href="#" class="editNotes">Edit Notes</a><br>
				<a href="#" class="delete">Delete Recipe</a>
			</div>
			<div class="rName">
				<a class="edit" href="#"><img src="edit.png" class="editImage"></a>
				<b><%=  user.recipes[i].recipeName %></b>
			</div>
			<div class="URL">
				<a href="<%=user.recipes[i].url%>" target="_blank"><%= user.recipes[i].url  %></a>
			</div>
			<% if (user.recipes[i].notes) { %>
			<div class="noteIdicator">
				<a href="#" class="noteToggler">Notes</a>
			</div>
			<div class="notes">
				<%= user.recipes[i].notes %>
			</div>
			<% } else { %>
				<div class="noNotes">
				</div>
			<% } %>

			<br><br>
	    <% } %>
	</div>
	<script>
	$(document).ready(function() {
		// Hide Notes on load
		$('.notes').hide();

		// Toggle Menu
		$(".rName").on('click', '.edit', function(e) {
			e.preventDefault();
			var menu = $(this).parent().prev();
			menu.toggle();

			$(document).mouseup(function (e)
			{
			    var container = menu;
			    if (!container.is(e.target) // if the target of the click isn't the container...
			        && container.has(e.target).length === 0) // ... nor a descendant of the container
			    {
			        container.hide();
			    }
			});

		});

		// Edit Recipe Name
		$('.menu').on('click', '.editName', function(e) {
			e.preventDefault();
			$('.menu').hide();

			//Don't include var here
			nameClone = $(this).parent().next().html();
			console.log(nameClone);

			var name = $(this).parent().next().find('b');
			var namevalue = name.html();
			console.log("First: " + namevalue);

			$('.editImage').replaceWith("<img src='space.png' class='space'>");

			var nameParent = name.parent();
			nameParent.html("&nbsp;&nbsp;&nbsp;&nbsp;<input id='newname' type='text' name='newname'>");
			$('#newname').val(namevalue);
			$('#newname').select();

			var recordID = $(this).parent().prev().val();
			console.log(recordID);

			$(document).mouseup(function(event){
			    var target = $("#newname");
			    if (!target.is(event.target) && target.is(":visible")) {
			       target.parent().html(nameClone);
			       $('.space').replaceWith("<a class='edit' href='#''><img src='edit.png' class='editImage'></a>");
			    }
			});

			$('#newname').keydown(function (e){
    			if(e.keyCode == 13) {
    				$.ajax({
				        url: "/updateName/" + recordID,
				        type: "POST",
				        data: $('#newname').serialize()
				    }).done(function() {
				    	location.reload();
				    });
    			}
			});
		});

		// Edit URL
		$('.menu').on('click', '.editUrl', function(e) {
			e.preventDefault();
			$('.menu').hide();
			$('.editImage').replaceWith("<img src='space.png' class='space'>");
			
			$('.editImage').hide();
			var editButtonClone = $(this).parent().next().find('a')//.html();
			//editButton = $(this).parent().next().find('a');
			//editButton.replaceWith("<img src='space.png'>");
			//editButtonClone.hide();

			//Don't include var here
			urlClone = $(this).parent().next().next().html();
			urlClone2 =  $.trim(urlClone);
			console.log(urlClone2);
			
			var urlValue = $(this).parent().next().next().text();
			var urlValue2 = $.trim(urlValue);
			console.log("Url Value: " + urlValue2);

			var urlParent = $(this).parent().next().next();
			urlParent.html("<input id='newurl' type='text' name='newurl'>");
			$('#newurl').val(urlValue2);
			$('#newurl').select();
			
			var recordID = $(this).parent().prev().val();
			console.log(recordID);

			$(document).mouseup(function(event){
			    var target = $("#newurl");
			    if (!target.is(event.target) && target.is(":visible")) {
			       target.parent().html(urlClone2);
			       $('.space').replaceWith("<a class='edit' href='#''><img src='edit.png' class='editImage'></a>");
			    }
			});
		
			$('#newurl').keydown(function (e){
    			if(e.keyCode == 13) {
    				$.ajax({
				        url: "/updateUrl/" + recordID,
				        type: "POST",
				        data: $('#newurl').serialize()
				    }).done(function() {
				    	location.reload();
				    });
    			}
			});
			
		});

		// Edit Notes
		var noteRecordID;
		$('.menu').on('click', '.editNotes', function(e) {
			e.preventDefault();
			$('.menu').hide();

			//Don't include var here
			noteClone = $(this).parent().next().next().next().next().html();
			console.log('Note Clone: ' + noteClone +"\nNoteClone length: " + noteClone.length);

			if (noteClone.length >= 1) {
				var noteSection = $(this).parent().next().next().next().next();
				
				if (!noteSection.is(":visible")) {
					noteSection.toggle();
				}

				$('.editImage').replaceWith("<img src='space.png' class='space'>");
					
				var noteValue = $(this).parent().next().next().next().next().html();
				console.log("Note Value: " + noteValue);
				var noteValue2 = noteValue.replace(/<br>/g, '\r');
				console.log("Note Value2: " + noteValue2);

				var noteParent = $(this).parent().next().next().next().next();
				console.log("noteParent: " + noteParent.html());
				noteParent.html("<textarea id='newnote' name='newnote'></textarea><button id='newNoteSubmit'>Save</button><button id='cancel'>Cancel</button>");
				$('#newnote').val(noteValue2);
				
				noteRecordID = $(this).parent().prev().val();
				console.log(noteRecordID);
			} else {
				console.warn('ELSE BLCOK');
				$('.editImage').replaceWith("<img src='space.png' class='space'>");
				var noteValue = $(this).parent().next().next().next().next().html();
				var noteParent = $(this).parent().next().next().next();
				noteParent.html("<textarea id='newnote' name='newnote'></textarea><button id='newNoteSubmit'>Save</button><button id='cancel'>Cancel</button>");
				$('#newnote').val(noteValue);

				noteRecordID = $(this).parent().prev().val();
				console.log(noteRecordID);
			}


			$('#recipeList').on('click', '#newNoteSubmit', function(e) {
				e.preventDefault();
				$.ajax({
			        url: "/updateNote/" + noteRecordID,
			        type: "POST",
			        data: $('#newnote').serialize()
			    }).done(function() {
			    	location.reload();
			    });
			});

			$('#recipeList').on('click', '#cancel', function(e) {
				e.preventDefault();
				$('.space').replaceWith("<a class='edit' href='#''><img src='edit.png' class='editImage'></a>");
				var target = $("#newnote").parent();
				target.html(noteClone);
			});
	
		});


		// Delete Recipe
		$('.menu').on('click', '.delete', function(e) {
			e.preventDefault();
			$('.menu').hide();

			var recordID = $(this).parent().prev().val();
			console.log(recordID);

			var confirmation = confirm('Are you sure you want to delete this recipe?');
			if (confirmation) {
			   $.ajax({
			        url: "/profile/delete/" + recordID,
			        type: "GET"
			    }).done(function() {
			    	location.reload();
				});
			} else {
				return;
			}
		});


		// Hover Color
		$('#recipeList').on('mouseenter', '.rName', function() {
			$(this).animate({"backgroundColor": "#effbfc"}, 120);
			$(this).next().animate({"backgroundColor": "#effbfc"}, 120);
		});
		$('#recipeList').on('mouseout', '.rName', function() {
			$(this).animate({"backgroundColor": "white"}, 170);
			$(this).next().animate({"backgroundColor": "white"}, 170);
		});

		// Toggle Notes
		$('#recipeList').on('click', '.noteToggler', function(e) {
			e.preventDefault();
			var note = $(this).parent().next();
			note.toggle();
		});


		// Implement line breaks in notes field
		$(".notes").each(function(index) {
			var noteText = $.trim($(this).html());
			var noteTextFormated = noteText.replace(/\n\r?/g, '<br>');
			$(this).html(noteTextFormated);
		});
	});
	</script>

</body>
</html>
