<html>
<head>
	<script src='https://www.google.com/recaptcha/api.js'></script>
	<script src="/scripts/jquery-1.11.2.min.js"></script>
</head>
<body>
	<h1>Create an Account</h1>
	<% if (regMessage != 'none') { %>
		<%= regMessage %>
		<br><br>
	<% } %>
	<form method="POST">
		<span>First Name:</span>	
		<input type="text" name="name" required><br>
		<span>Last Name:</span>
		<input type="text" name="lastName" required><br>
		<span>Email:</span>
		<input type="email" name="email" required><br>
		<span>Password:</span>
		<input type="password" name="password" id="password" required><br>
		<span>Confirm Password:</span>
		<input type="password" name="passwordConfirm" id="passwordConfirm" required>
		<br>
		<div class="g-recaptcha" data-sitekey="6LceDQITAAAAAHAgwfYPQGlr0bdk9xiEFJFK2-t2"></div>
		<input type="submit" id="submit">
	</form>
	<script>
		$(document).on('click', '#submit', function(e) {
			var password = $('#password').val();
			var passwordConfirm = $('#passwordConfirm').val();
			if (password !== passwordConfirm) {
				e.preventDefault();
				alert("Password and password confirmation must match.");
			} /*else if (password.length < 6) {
				alert("Password must be longer than 6 characters.");
			}*/
		});
	</script>
</body>
</html>