<!DOCTYPE html>
<html>
<head>
	<style>
		@font-face {
			font-family: 'Raleway'; 
			src: url('/bypass/Raleway-Regular.ttf'); 
			font-style: normal;
			font-weight: normal;
		}
		body {
			background: url("/bypass/toastoptimized.jpg") no-repeat center center fixed; 
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
			background-size: cover;
			font-family: "Raleway";
		}
		#loginBox {
			width: 800px;
			height: 270px;
			margin: 0 auto;
			background-color: rgba(27, 24, 24, 0.83);
			border-radius: 25px;
			position:absolute;
		    top:50%;
		    left:50%;
		    margin-left:-400px; /* width / -2 */
		    margin-top:-135px; /* height / -2 */
		}
		#login form {
			padding-left: 15px;
			margin-bottom: 6px;
		}
		#login {
			height: 114px;
			width: 662px;
			margin: 0 auto;
		}
		#login label {
			display: block;
			margin-top: 8px;
			margin-bottom: 3px;
			font-family: "Raleway";
			font-size: 14px;
			color: white;
		}
		#login input {
			height: 34px;
			width: 225px;
			border: solid 1px #54d654;
			border-radius: 3px;
		}
		#login input:hover, #login input:focus{
			border: solid 1px blue;
		}
		#login input[type=submit] {
			background-color: #47C454;
			color: white;
			font-size: 15px;
			font-weight: 500;
			border: 0;
			width: 155px;
			margin-top: 27px;
		}
		#login input[type=submit]:hover {
			background-color: rgb(18, 134, 18);
		}
		#password, #passwordConfirm {
			font-size: 17px;
		}
		#passwordSection {
			border: solid 0px red;
			width: 250px;
			float: left;
		}
		#passwordConfirmSection {
			border: solid 0px blue;
			width: 250px;
			float: left;
		}
		#submitSection {
			border: solid 0px blue;
			width: 156px;
			float: left;
		}
		#innerBox {
			border: solid 0px yellow;
			height: 175px;
			padding-top: 72px;
		}
		#copyright {
			border: solid 0px blue;
			margin-top: 24px;
			width: 376px;
			color: rgb(126, 131, 126);
			font-size: 13px;
			padding-left: 15px;
		}
		#logologin {
			position: absolute;
			margin-top: -146px;
			margin-left: 340px;
		}
		#message {
			border: solid 0px blue;
			color: rgb(242, 74, 0);
			padding-left: 20px;
			margin-top: 28px;
			font-size: 15px;
			width: 600px;
			position: absolute;
		}
	</style>
	<script src="/scripts/jquery-1.11.2.min.js"></script>
	<title>Password Reset</title>
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
		ga('create', 'UA-59805292-1', 'auto');
		ga('send', 'pageview');
	</script>
	<link rel="icon" type="image/png" href="bypass/favicon.ico">
</head>
<body>
	<div id="loginBox">
		<div id="message">
			Password reset for <%= user %>
		</div>
		<div id="innerBox">
			<a href="/"><img src="/bypass/logologin.png" id="logologin"></a>
			<form method="POST" id="login">
				<div id="passwordSection">
					<label>New Password:</label>
					<input type="password" name="password" id="password" required><br>
				</div>
				<div id="passwordConfirmSection">
					<label>Confirm Password:</label>
					<input type="password" name="passwordConfirm" id="passwordConfirm" required>
				</div>
				<div id="submitSection">
					<input type="submit" value="Update Password">
				</div>
			</form>
			<div id="copyright">
				&copy; 2015 Copyright RecipeSaver.net &nbsp;|&nbsp; All Rights Reserved
			</div>

		</div>
	</div>
	<script>
		$(document).on('click', '#submit', function(e) {
			var password = $('#password').val();
			var passwordConfirm = $('#passwordConfirm').val();
			if (password !== passwordConfirm) {
				e.preventDefault();
				alert("Password and password confirmation must match.");
			} else if (password.length < 6) {
				alert("Password must be longer than 6 characters.");
			}
		});
	</script>
</body>
</html>