<html>
<head>

</head>
<body>
	<h1>Reset Your Password</h1>
	<form method="POST">
		<span>New Password:</span>
		<input type="password" name="password" required><br>
		<span>Confirm Password:</span>
		<input type="password" name="passwordConfirm" required>
		<br>
		<input type="submit" value="Update Password">
	</form>
</body>
</html>