input[type=text], textarea {
    width: 200px;
    border: 1px solid black;
    padding: 0;
}
#recipeEntry input {
	border: solid 1px #E4E4E4;
	margin-bottom: 2px;
	background-color: #fcfcfc;
	height: 25px;
}

#recipeEntry textarea {
	border: solid 1px #E4E4E4;
	height: 105px;
	margin-bottom: 2px;
	width: 200px;
	background-color: #fcfcfc;
	font: inherit;
	padding: 0;
}

#recipeEntry input[type=submit] {
	width: 202px;
	background-color: #FCFCFC;
	border: solid 1px rgb(187, 187, 187);
}

#recipeEntry input[type=submit]:hover {
	background-color: rgb(229, 247, 231);
	border: solid 1px #47C454;
}
